/*
Inline conditions main stylesheet.

This file exposes the common style rules for the inline_conditions field widget and the way its children elements
should be displayed.
*/

/* css rules for all widget types */

/* Wrappers for select, checkbox, checkboxes and textfield elements are displayed inline. */
#inline-conditions-inline_conditions .inline-conditions-settings-wrapper div.form-type-select,
#inline-conditions-inline_conditions .inline-conditions-settings-wrapper div.form-type-checkbox,
#inline-conditions-inline_conditions .inline-conditions-settings-wrapper div.form-type-checkboxes,
#inline-conditions-inline_conditions .inline-conditions-settings-wrapper div.form-type-textfield {
    display: inline-block;
}

/* Labels inside wrappers are displayed inline. */
#inline-conditions-inline_conditions .inline-conditions-settings-wrapper label {
    display: inline;
}

/* Add space to direct children of the settings wrapper. */
#inline-conditions-inline_conditions .inline-conditions-settings-wrapper > div {
    padding: 2px;
    margin: 0;
}

/* Make bigger the logical operators to make them even more clear */
#inline-conditions-inline_conditions .inline-conditions-logic-operator {
    font-size: 1.2em;
    border: none;
}
